<div class="w-96 mx-auto mt-12">
  <div class="w-full relative">
    <input
      class="bg-zinc-600 placeholder-gray-400 text-white rounded-xl h-11 w-full pl-4 outline-none"
      type="text"
      placeholder="write character name"
    />
    <button
      class="bg-slate-800 text-white absolute font-medium text-sm right-0 h-full rounded-xl px-4"
      onClick="{onHandleClick}"
    >
      Search
    </button>
  </div>
  <div class="mt-4">
    <span class="mr-5 font-medium text-xl">Filter:</span>
    <label class="mr-3 cursor-pointer">
      <input
        type="radio"
        name="filter"
        value="All"
        [(ngModel)]="selectedRadioValue"
        (change)="onRadioChange()"
      />
      All characters
    </label>
    <label class="cursor-pointer">
      <input
        type="radio"
        name="filter"
        value="Liked"
        [(ngModel)]="selectedRadioValue"
        (change)="onRadioChange()"
      />
      Liked characters
    </label>
  </div>
</div>
